[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=systemd-journal-viewer
Exec=systemd-journal-viewer
Name=Journal Viewer

[X-Sailjail]
Permissions=Documents
# take care to match the dbus name!
OrganizationName=org.coderus
ApplicationName=systemd.journal
