[Unit]
Description=Systemd Journal D-Bus daemon
Requires=dbus.service

[Service]
Type=dbus
ExecStart=/usr/bin/invoker -s --type=generic /usr/bin/systemd-journal-daemon
BusName=org.coderus.systemd.journal
